body {
    background-color: lightblue;
    text-align: center;
}


body {
    
    text-align: justify;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    border-color: blue;

}
p {
    margin: 50px;
    text-decoration-color: rgb(0, 0, 0); }
 

